In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
869,tt0121765,120000000,649398328,Star Wars: Episode II - Attack of the Clones,Ewan McGregor|Natalie Portman|Hayden Christens...,George Lucas,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,"Ten years after the invasion of Naboo, the gal...",142,Adventure|Action|Science Fiction,Lucasfilm,5/15/2002,6.4,2002
1202,tt1979320,38000000,90247624,Rush,Daniel BrÃ¼hl|Chris Hemsworth|Olivia Wilde|Ale...,Ron Howard,Everyone's driven by something.,A biographical drama centered on the rivalry b...,123,Drama|Action,Revolution Films|Working Title Films|Cross Cre...,9/2/2013,7.7,2013
682,tt0970411,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,Playtone|Walden Media,10/7/2008,6.1,2008
555,tt0225071,53000000,29700000,Angel Eyes,Jennifer Lopez|Jim Caviezel|Jeremy Sisto|Terre...,Luis Mandoki,"The deeper you look, the more you will find.",A story about a seemingly unlikely couple who ...,102,Drama|Romance|Thriller,Warner Bros. Pictures|Franchise Pictures|Morga...,5/15/2001,5.6,2001
1020,tt1800741,33000000,140470746,Step Up Revolution,Kathryn McCormick|Ryan Guzman|Stephen Boss|Meg...,Scott Speer,One Step Can Change Your World,Emily arrives in Miami with aspirations to bec...,99,Music|Drama|Romance,Summit Entertainment,7/26/2012,6.6,2012

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# Добавляем столбец 'profit' как разницу между кассовыми сборами и бюджетом фильма
data['profit'] = data['revenue']-data['budget']

# Переводим столбец 'release_date' в формат datetime
data['release_date'] = pd.to_datetime(data['release_date'])

# Добавляем столбец 'release_month' - месяц выхода фильма
data['release_month'] = data['release_date'].dt.month

# Добавляем столбец 'len_title' - длина наименования фильма
data['len_title'] = data.original_title.apply(lambda x:len(x)) 

# Добавляем столбец 'len_over' - длина описания фильма по кол-ву слов
data['len_over'] = data.overview.apply(lambda x: len(x.split()))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [7]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'] == data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,len_over
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43,75

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
data.loc[data['runtime'] == data['runtime'].max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
data.loc[data['runtime'] == data['runtime'].min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [14]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [18]:
data.loc[data['profit'] == data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [20]:
data.loc[data['profit'] == data['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'

In [22]:
data_prib = data.query('revenue > budget') # Выбираем прибыльные фильмы

data_prib['imdb_id'].nunique() # Считаем кол-во уникальных id

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [24]:
data_2008 = data.query('release_year == 2008') 

data_2008.loc[data_2008['revenue'] == data_2008['revenue'].max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [26]:
data_2014 = data.query('2012 <= release_year <= 2014')

data_2014.loc[data_2014['profit'] == data_2014['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = '3. Drama'

In [28]:
data_exp = data.assign(genres = data['genres'].str.split('|')).explode('genres')

data_exp.genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [29]:
pd.Series((data.genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'

In [31]:
data_prib = data.assign(genres = data['genres'].str.split('|')).explode('genres')

data_prib.query('profit > 0').genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = '5. Peter Jackson'

In [33]:
dir_rev = data.assign(director = data['director'].str.split('|')).explode('director')

grouped_dir_rev = dir_rev.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

grouped_dir_rev.index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = '3. Robert Rodriguez'

In [35]:
action_data = data[data['genres'].str.contains('Action', regex=False) == True]  

Counter(action_data.director.str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = '3. Chris Hemsworth'

In [37]:
data2012 = data[data['release_year'] == 2012].copy()

act_rev = data2012.assign(cast = data2012['cast'].str.split('|')).explode('cast')

grouped_act_rev = act_rev.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

grouped_act_rev.index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = '3. Matt Damon'

In [39]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = '2. Action'

In [41]:
Cage_data = data[data['cast'].str.contains('Nicolas Cage', regex=False) == True]  

Counter(Cage_data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [43]:
Param_data = data[data['production_companies'].str.contains('Paramount Pictures', regex=False) == True]

Param_data.loc[Param_data['profit'] == Param_data['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '5. 2015'

In [45]:
grouped_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

grouped_year.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '1. 2014'

In [47]:
Warner_data = data[data['production_companies'].str.contains('Warner Bros', regex=False) == True]

Warner_year = Warner_data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

Warner_year.index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = '4. Сентябрь'

In [49]:
grouped_month = data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False)

grouped_month.index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = '2. 450'

In [51]:
data[(data.release_month >=6) & (data.release_month <= 8)].imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = '5. Peter Jackson '

In [53]:
winter=data[(data.release_month == 12) | (data.release_month == 1) | (data.release_month == 2)]

pd.Series((winter.director.str.split('|').sum())).value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = '5. Four By Two Productions'

In [55]:
title_data = data.assign(production_companies = 
                         data['production_companies'].str.split('|')).explode('production_companies')
title_data.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = '3. Midnight Picture Show'

In [57]:
over_data = data.assign(production_companies = 
                        data['production_companies'].str.split('|')).explode('production_companies')
over_data.groupby(['production_companies'])['len_over'].mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [59]:
data.sort_values(['vote_average'],ascending = False).head(18)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,len_over
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,18,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,4,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12,23,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10,9,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10,16,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7,23,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12,45,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10,7,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9,11,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2,24,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12,3,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11,9,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5,22,47

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [60]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [61]:
from itertools import combinations

pairs = []

for cast in data.cast.str.split('|'):
    pairs.extend(combinations(cast,2))

pairs_counts = pd.Series(pairs).value_counts()

pairs_counts.head()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
dtype: int64

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson ',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27